/* top navigation */
.topNav {
    box-sizing: border-box;
    display: flex;
    background-color: rgba(0,0,0,.5);
    /* keep display fixed */
    position: fixed;
    top:0;
    width: 100%;
    padding: 20px 3%;
}
.topLeft, .topCenter, .topRight {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topLeft, .topRight {
    width: 30%;
}
.topLeft {
    /* background: black; */
    background-image: url("../images/Logo_white.png");
    background-repeat: no-repeat;
    background-position: center;
}
.topCenter {
    width: 40%;
}
.topCenter a {
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
}
.topRight button {
    background-color: rgba(0,0,0,0);
    border-width: 5px;
    border-style: solid; 
    color: white;
    font-size: 20px;
    padding: 5px;
    margin: 0 10px;
    width: 30%;
    font-weight: 900;
}
#signup {
    border-color: #F8BA42;
}
#login {
    border-color: #DC549C;
}

/* Body */
body {
    background-color: black;
    font-family: 'Spartan', sans-serif;
    color: white;
}
.hero {
    display: flex;
    justify-content: start;
    width: 100%;
    height: 800px;
    background: black;
    background-image: url("../images/movementfinal1.png");
    background-repeat: no-repeat;
    background-position: right;
}
.heroLeft {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 100px;
}
.heroLeft h1 {
    font-family: 'Knewave', sans-serif;
    color: #F8BA42;
    font-size: 100px;
}
.heroLeft p {
    font-size: 24;
    font-weight: 400;
    color: white;
}
.heroLeft button {
    text-align: left;
    background-color: rgba(0,0,0,0);
    border-width: 5px;
    border-style: solid; 
    border-color: #F8BA42;
    color: white;
    font-size: 32px;
    padding: 10px 50px;
    font-weight: 900;
}

/* Footer */
.bottomFooter {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: black;
    padding: 20px;
}
.footerLeft {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footerRight {
    width: 60%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: flex-start; */
}   

.bottomUpperLeft, .bottomBottomLeft {
    padding: 20px;
}
.bottomUpperLeft a {
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}
.bottomUpperLeft {
    display: flex;
    flex-direction: row;
}
.columns {
    display: flex;
    flex-direction: column;
    padding: 10px 60px;
}
.footerInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 40px;
}
.footerForm h2 {
    font-size: 38;
    font-weight: 400;
}
.footerForm form {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#newsletterform {
    background-color: rgba(255, 206, 107, 0.18);
    border-color: #FFF5E1;
    border-width: 5px;
    border-style: solid; 
    color: rgba(211, 211, 211, .46);
    font-size: 24px;
    font-weight: 400;
    padding: 10px;
    width: 60%;
}
#newsletterbutton {
    background-image: url("../images/arrowButton.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
    background-color: black;
    border-style: solid; 
    border-color: rgba(0,0,0,0);
    color: rgba(0,0,0,0); 
    margin-left: 20px;
}
.footerInfo a {
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
.socialicons {
    padding: 20px;
}  